.player-box{
    
    height: 75px;
    width: 250px;
    background-color: rgba(150,150,150, 0.8);
    color: black;
    border-bottom-left-radius: 37.5px;
    border-top-left-radius: 37.5px;
    display: flex;
    align-items: center;
    img{
        height: 90%;
        width: auto;
        object-fit: cover;
        padding-left:8px;
        border-radius: 100%;
    }
    span{
        padding-left:16px;
        font-size: larger;
        font-weight: 600;
    }
}
.player-active{
    background-color: orange !important;
}